<div class="ml-24 mr-5 bg-slate-800 shadow-lg px-6 py-5">
    <div class="flex justify-between">
        <p class="text-slate-50 text-xl">Welcome back,</p>
        <div>
            <p class="text-slate-50 text-xl">March 13, 2023</p>
        </div>
    </div>
    <h1 class="text-slate-50 text-5xl">Joshua Wise</h1>
</div>