<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="~/favicon.svg">
    <title> BJHRApp </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    transitionProperty: {
                        'width' : 'width'
                    },
                    colors: {
                        'puerto-rico': {
                            DEFAULT: '#4CCEAC',
                            50: '#CAF1E6',
                            100: '#BCEDE0',
                            200: '#A0E5D3',
                            300: '#84DDC6',
                            400: '#68D6B9',
                            500: '#4CCEAC',
                            600: '#32B593',
                            700: '#278D72',
                            800: '#1C6552',
                            900: '#113D32',
                            950: '#0B2921'
                        }
                    }
                }
            }
        }
    </script>
</head>
<body>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
