<nav class="hidden z-50 fixed w-16 h-screen md:flex flex-col transition-width hover:w-64 duration-500  fixed bg-slate-800 py-3 px-2 justify-between shadow-lg">
    <ul>
        <li>
            <a href="/">
                <div class="circle bg-slate-700 h-12 rounded-full flex items-center justify-start pl-[9px] pb-[2px] gap-5 overflow-hidden">
                    <img src="~/img/home.svg" alt="">
                    <p class="text-lg text-slate-50 nav-item">Dashboard</p>
                </div>
            </a>
        </li>
        <hr class="border-slate-50 border-2 rounded my-5">
        <li class="mb-5">
            <a href="/">
                <div class="circle bg-slate-700 h-12 rounded-full flex items-center justify-start pl-[12px] pb-[2px] gap-5 overflow-hidden">
                    <img src="~/img/calendar.svg" alt="">
                    <p class="text-lg text-slate-50 nav-item">Schedule/Time</p>
                </div>
            </a>
        </li>
        <li class="mb-5">
            <a href="/">
                <div class="circle bg-slate-700 h-12 rounded-full flex items-center justify-start pl-[12px] gap-5 overflow-hidden">
                    <img src="~/img/gear.svg" alt="">
                    <p class="text-lg text-slate-50 nav-item">Settings</p>
                </div>
            </a>
        </li>
    </ul>
        <a href="/logout">
            <div class="circle bg-slate-700 h-12 rounded-full flex items-center justify-start pl-[13px] gap-5 overflow-hidden">
                    <img src="~/img/logout.svg" alt="">
                    <p class="text-lg text-slate-50 nav-item">Logout</p>
            </div>
        </a>
</nav>
<nav class="mobile flex fixed m-2 md:hidden">
    <img width="50" src="~/img/hamburger.svg" alt="">
</nav>