<div class="bg-slate-700 p-4 flex flex-col gap-2 justify-center items-center">
    <div class="p-5 flex flex-col gap-4 w-52 items-center justify-between">
        <p class="text-xl text-center capitalize">
            Search Shifts
        </p>
    </div>
    <div  class="w-full max-w-lg bg-slate-900 bg-opacity-30 rounded shadow-lg py-6 px-6">
        <table>
            <tr>
                <th>Employee</th>
                <th>Time In</th>
                <th>Time Out</th>
            </tr>
            @foreach(Shift s in ViewBag.Shifts)
            {
            <tr>
                <td>@s.User.FirstName @s.User.LastName</td>
                <td>@s.In.ToLocalTime()</td>
                <td>@s.Out.ToLocalTime()</td>
            </tr>
            }
        </table>
    </div>
</div>