
@{
    ViewBag.PunchStatusColor = Model.TimeIn.Year == 0001 ? "gray" : Model.TimeOut == null ? "indigo" : "gray";
}

<style>
    button:active {
        transform: translateY(3px);
    }
</style>

<div class="flex md:flex-row flex-col gap-3 max-h-[325px] w-4/5 md:w-auto">
    <div class="py-5 px-3 flex flex-col gap-2 justify-center items-center border-4 rounded-2xl border-@ViewBag.PunchStatusColor-500 w-full md:w-52">
        <div class="rounded-lg py-10 flex flex-col gap-4 items-center justify-between">

            <svg  class="fill-@ViewBag.PunchStatusColor-400 h-[150px] w-[150px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 12l-.688-4h-.609l-.703 4c-.596.347-1 .984-1 1.723 0 1.104.896 2 2 2s2-.896 2-2c0-.739-.404-1.376-1-1.723zm-1-8c-5.522 0-10 4.477-10 10s4.478 10 10 10 10-4.477 10-10-4.478-10-10-10zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8zm-2-19.819v-2.181h4v2.181c-1.438-.243-2.592-.238-4 0zm9.179 2.226l1.407-1.407 1.414 1.414-1.321 1.321c-.462-.484-.964-.926-1.5-1.328z"/></svg>
            @* <p class="text-slate-50 text-xl text-center capitalize">
                @(Model.ClockedIn ? "Currently Working" : "Clocked Out")
            </p> *@
        </div>
        <form action='/users/timeclock/@Context.Session.GetInt32("UserId")/punch' method="post">
            <button type="submit" class="font-bold uppercase rounded bg-indigo-600 text-slate-50 px-4 py-2 w-full hover:bg-indigo-500">
                @(Model.TimeOut == null ? "Clock Out" : "Clock In")
            </button>
        </form>
    </div>
</div>
