@{
    ViewData["Title"] = "Home Page";
}

@model User
<div class="flex flex-col min-h-screen justify-center items-center login">
    <h1 class="text-4xl text-indigo-100 mb-5 font-semibold capitalize">Employee Login</h1>
    <form class="w-full max-w-lg bg-blue-900 bg-opacity-30 rounded shadow-lg py-6 px-5" asp-action="LoginAttempt" asp-controller="User" method="POST">
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-indigo-100 text-xs font-bold mb-2" for="grid-password"asp-for="Email">
                Email
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="text" placeholder="example@email.com" asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-indigo-100 text-xs font-bold mb-2" for="grid-first-name" asp-for="Password">
                Password
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="password" placeholder="********" asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>
    </div>
        <button class="bg-indigo-700 hover:bg-indigo-500 text-indigo-100 font-bold py-2 px-4 rounded w-full shadow-lg">Submit</button>
        <p class="text-sm text-indigo-100 italic mt-4">Need to register? <a class="text-indigo-300 hover:text-indigo-100 underline" href="/users/register">Register Here</a></p>
    </form>
</div>