@{
    ViewData["Title"] = "Home Page";
}
<div id="register" class="flex flex-col min-h-screen justify-center items-center login">
    <h1 class="text-4xl text-indigo-100 mb-5 font-semibold capitalize">Employee Register</h1></h1>
    <!--TODO:Abstract away labels and fields of this form but not background so that color can change depending on view-->
    @await Html.PartialAsync("_RegisterForm");
</div>