@await Html.PartialAsync("_NavBar");

<div class="mx-50 h-screen w-full top-0 p-5 bg-gradient-to-r from-[#1C2637] to-slate-900 flex flex-col gap-3">
<div class="p-10 md:p-0 flex-col gap-5 flex">
    @await Html.PartialAsync("_GreetingBar")
    <div class="ml-24 mr-5 bg-slate-800 shadow-lg px-6 pt-2 pb-4 flex flex-col gap-3">
        <div class="bg-slate-700 p-4 flex flex-col gap-2 justify-center items-center">
            <div class="p-5 flex flex-col gap-4 w-52 items-center justify-between">
                <p class="text-xl text-center capitalize">
                    Edit Shift
                </p>
            </div>
            @model Shift
            <form action="/shift/create" method="POST" class="w-full max-w-lg bg-slate-900 bg-opacity-30 rounded shadow-lg py-6 px-6">
                <div class="flex flex-wrap -mx-3 mb-6">
                    <label asp-for="Date" class="block uppercase tracking-wide text-indigo-100 text-xs font-bold mb-2">Shift Date</label>
                    <input asp-for="Date" name="ShiftDate" type="date" required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
                </div>
        
                <div class="flex flex-wrap -mx-3 mb-6">
                    <label asp-for="Block" class="block uppercase tracking-wide text-indigo-100 text-xs font-bold mb-2">Schedule Block</label>
                    <select asp-for="Block" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                        @foreach(string s in ViewBag.ShiftStart)
                        {
                            <option value="#">@s</option>
                        }
                    </select>
                </div>
        
                <div class="flex flex-wrap -mx-3 mb-6">
                    <button type="submit" class="font-bold uppercase rounded bg-slate-500 text-slate-900 px-4 py-2 w-full">
                        Update Shift
                    </button>
                </div>
            </form>
        </div>
        <div>
            <p><a href='/users/shift/all/@Context.Session.GetInt32("UserId")'>All Shifts</a></p>
        </div>
    </div>
</div>
</div>