@{
    ViewData["Title"] = "Home Page";
}
@await Html.PartialAsync("_NavBar")
    <div class="h-screen bg-gradient-to-r from-[#1C2637] to-slate-900">
        
    </div>
    @* <div class="h-screen bg-gradient-to-r from-[#3730A0] to-indigo-900 login">
    </div> *@