@{
    ViewData["Title"] = "Home Page";
}

@model User
<div class="text-center">
    <h1>HELLO WORLD</h1>
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" asp-action="Create" asp-controller="Main">
        <label asp-for="FirstName"></label>
        <span asp-validation-for="FirstName"></span>
        <input type="text" asp-for="FirstName" />
        <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" type="submit">SUBMITTY</button>
    </form>
    <hr>
    <h1>HELOO</h1>
    <h1>HELOO</h1>
    <h1>HELOO</h1>
    <h1>HELOO</h1>
    <h1>HELOO</h1>
    @{
        foreach (User u in ViewBag.Users)
        {
            <p>@u.FirstName u.LastName</p>
        }
    <hr>
    }
</div>