@await Html.PartialAsync("_NavBar")
<div class="p-10 md:p-0 flex-col gap-5 bg-gradient-to-r from-[#1C2637] to-slate-900 flex md:flex-row">
    <div class="hidden md:inline w-72">
    </div>
    <div class="justify-center md:justify-start w-full md:w-3/5 bg-transparent flex gap-5 md:gap-10 flex-wrap self-center">
        <h1 class="text-center md:text-left text-slate-50 text-2xl w-full"><span class="font-light tracking-wide">Welcome Back,</span> Joshua</h1>
            <div class="relative flex flex-col"> 
                <div class="w-28 bg-orange-500 z-0 h-28 rounded shadow-lg overflow-hidden">
                    <div class="w-28  overflow-hidden inline-block">
                        <div class="h-56 bg-orange-600 rotate-45 transform origin-top-right"></div>
                    </div>
                </div>
                <img class="dash-icon" src="~/img/user.svg" alt="">
            </div>
            <div class="relative flex flex-col">
                <div class="w-28 bg-blue-500 h-28 rounded shadow-lg overflow-hidden">
                    <div class="w-28  overflow-hidden inline-block">
                        <div class="h-56 bg-blue-600 rotate-45 transform origin-top-right"></div>
                    </div>
                </div>
                <img class="dash-icon" src="~/img/write.svg" alt="">
            </div>
            <div class="relative flex flex-col"> 
                <div class="w-28 bg-purple-500 h-28 rounded shadow-lg overflow-hidden">
                    <div class="w-28  overflow-hidden inline-block">
                        <div class="h-56 bg-purple-600 rotate-45 transform origin-top-right"></div>
                    </div>
                </div>
                <img class="dash-icon" src="~/img/search-cloud.svg" alt="">
            </div>
            <div class="relative flex flex-col"> 
                <div class="w-28 bg-red-500 h-28 rounded shadow-lg overflow-hidden">
                    <div class="w-28  overflow-hidden inline-block">
                        <div class="h-56 bg-red-600 rotate-45 transform origin-top-right"></div>
                    </div>
                </div>
                <img class="dash-icon" src="~/img/bricks.svg" alt="">
            </div>            
            <div class="flex flex-col">  
                <div class="w-28 bg-gray-500 h-28 rounded shadow-lg overflow-hidden">
                    <div class="w-28  overflow-hidden inline-block">
                        <div class="h-56 bg-gray-600 rotate-45 transform origin-top-right"></div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">  
                <div class="w-28 bg-pink-500 h-28 rounded shadow-lg overflow-hidden">
                    <div class="w-28  overflow-hidden inline-block">
                        <div class="h-56 bg-pink-600 rotate-45 transform origin-top-right"></div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">  
                <div class="w-28 bg-yellow-500 h-28 rounded shadow-lg overflow-hidden">
                    <div class="w-28  overflow-hidden inline-block">
                        <div class="h-56 bg-yellow-600 rotate-45 transform origin-top-right"></div>
                    </div>
                </div>
            </div>
            <div class="relative flex flex-col">  
                <div class="w-28 bg-green-500 h-28 rounded shadow-lg overflow-hidden">
                    <div class="w-28  overflow-hidden inline-block">
                        <div class="h-56 bg-green-600 rotate-45 transform origin-top-right"></div>
                    </div>
                </div>
                <img class="dash-icon" src="~/img/trash.svg" alt="">
            </div>
        @* </div> *@
    </div>
    <!-- RIGHT SIDE OF PAGE -->
    <div class="w-full h-auto md:h-screen md:w-2/5  bg-slate-800 rounded shadow-lg py-3 px-2 flex flex-col gap-3">
    <h1 class="text-slate-50 uppercase mb-3 tracking-wide font-light text-xl">Latest <span class="font-bold">Activity</span></h1>
        <div class="w-full flex flex-col gap-3 bg-slate-700 rounded py-2 px-4">
            <div class="flex gap-3 items-center">
                <img src="~/img/megaphone.svg" width="15">
                <h2 class="text-green-300 tracking-wider text-lg font-bold">BROOKLYN SUPPLIERS</h2>
                <p class="text-slate-300 text-xs tracking-wider font-light ml-auto">March 3rd, 2023</p>
            </div>
            <p class="text-slate-300 text-sm"><span class=" text-sm font-bold uppercase">Schedule Due:</span> The recieving team needs their schedule for the payperiod starting on 03/19/2023 and ending on 4/01/2023</p>
        </div>
        <div class="w-full flex flex-col gap-3 bg-slate-700 rounded py-2 px-4">
            <div class="flex gap-3 items-center">
                <img src="~/img/megaphone.svg" width="15">
                <h2 class="text-green-300 tracking-wider text-lg font-bold">BROOKLYN SUPPLIERS</h2>
                <p class="text-slate-300 text-xs tracking-wider font-light ml-auto">March 3rd, 2023</p>
            </div>
            <p class="text-slate-300 text-sm"><span class=" text-sm font-bold uppercase">Schedule Due:</span> The recieving team needs their schedule for the payperiod starting on 03/19/2023 and ending on 4/01/2023</p>
        </div>
        <div class="w-full flex flex-col gap-3 bg-slate-700 rounded py-2 px-4">
            <div class="flex gap-3 items-center">
                <img src="~/img/megaphone.svg" width="15">
                <h2 class="text-green-300 tracking-wider text-lg font-bold">BROOKLYN SUPPLIERS</h2>
                <p class="text-slate-300 text-xs tracking-wider font-light ml-auto">March 3rd, 2023</p>
            </div>
            <p class="text-slate-300 text-sm"><span class=" text-sm font-bold uppercase">Schedule Due:</span> The recieving team needs their schedule for the payperiod starting on 03/19/2023 and ending on 4/01/2023</p>
        </div>
    </div>
</div>