@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.login {
    background-image: url("../img/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}