/* * {
    outline: red 1px dashed;

} */

html {
    background: #0f172a;
}

.login {
    background-image: url("../img/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.dash-icon {
    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    height: 4rem;
}